<script type="text/html" data-help-name="jq-wasm">
  <p>Order Sushi online via the <a href="https://www.ginsara.jp">Gin no Sara (銀のさら)</a> website</p>
  <p>(this node is not associated, affiliated, nor owned and operated by Gin no Sara</p>

  <h3>Inputs</h3>
  <dl class="message-properties">
    <dt>
      <span class="optional">name</span>
    </dt>
    <dd>
      Node name
    </dd>

    <dt>
      <span>dryRun</span>
    </dt>
    <dd>
       Whether to perform a dry run which does all the navigation but does stops short of ordering.
    </dd>

    <dt>
      <span>storeID</span>
    </dt>
    <dd>
       Numeric ID of the Gin No Sara store closest to delivery location (you must check the website to find this).
    </dd>

    <dt>
      <span>productID</span>
    </dt>
    <dd>
       Numeric ID of the Sushi Product being sold by the relevant Store you'd like to order.
    </dd>

    <dt>
      <span>gnsEmail (credential)</span>
    </dt>
    <dd>
       Email of the Gin no Sara user account to use.
    </dd>

    <dt>
      <span>gnsPassword (credential)</span>
    </dt>
    <dd>
       Password of the Gin no Sara user account to use.
    </dd>

    <dt>
      <span>bearerToken (credential)</span>
    </dt>
    <dd>
       Shared secret to use with bearer token auth (<code>Authorization: bearer <...></code>)
    </dd>

  <h3>Outputs</h3>
  <dl class="message-properties">
    <dt>
      payload <span class="property-type">object</span></dt>
    <dd>
      Metadata and regular data regarding the order that was placed
    </dd>
  </dl>
</script>
