<!-- NodeRED Registration -->
<script type="text/javascript">
 RED.nodes.registerType(
   "nigiri",
   {
     category: "Services",
     color: "#AAAAAA",
     defaults: {
       name: { value: "nigiri" },
       storeID: { value: "" },
       productID: { value: "" },
       dryRun: { value: true },
     },
     credentials: {
       gnsEmail: { type: "text" },
       gnsPassword: { type: "password" },
       bearerToken: { type: "password" },
     },
     inputs: 1,
     outputs: 1,
     icon: "font-awesome/fa-js",
     label: function() {
       return this.name || "nigiri";
     },
   }
 );
</script>

<!-- UI -->
<script type="text/html" data-template-name="nigiri">

  <!-- Node name -->
  <div class="form-row">
    <label style="display: block; width: inherit;">
      <div style="vertical-align: middle;" data-i18n="nigiri.label.name"></div>
      <input style="width: auto; vertical-align: top" type="text" id="node-input-name"></input>
    </label>
  </div>

  <!-- Dry run -->
  <div class="form-row">
    <label style="display: block; width: inherit;">
      <div style="vertical-align: middle;" data-i18n="nigiri.label.dryRun"></div>
      <input style="width: auto; vertical-align: top" placeholder="NNNN" type="checkbox" id="node-input-dryRun"></input>
    </label>
  </div>

  <!-- Nigiri StoreID -->
  <div class="form-row">
    <label style="display: block; width: inherit;">
      <div style="vertical-align: middle;" data-i18n="nigiri.label.storeID"></div>
      <input style="width: auto; vertical-align: top" placeholder="NNNN" type="text" pattern="[0-9]+" id="node-input-storeID"></input>
    </label>
  </div>

  <!-- Nigiri ProductID -->
  <div class="form-row">
    <label style="display: block; width: inherit;">
      <div style="vertical-align: middle;" data-i18n="nigiri.label.productID"></div>
      <input style="width: auto; vertical-align: top" placeholder="NNNN" type="text" pattern="[0-9]+" id="node-input-productID"></input>
    </label>
  </div>

  <!-- Gin No Sara Email -->
  <div class="form-row">
    <label for="node-input-gnsEmail" style="display: block; width: inherit;">
      <div style="vertical-align: middle;" data-i18n="nigiri.label.gnsEmail"></div>
      <input style="width: auto; vertical-align: top" placeholder="email" type="email" pattern="[0-9]+" id="node-input-gnsEmail"></input>
    </label>
  </div>

  <!-- Gin No Sara Password -->
  <div class="form-row">
    <label for="node-input-gnsPassword" style="display: block; width: inherit;">
      <div style="vertical-align: middle;" data-i18n="nigiri.label.gnsPassword"></div>
      <input style="width: auto; vertical-align: top" placeholder="password" type="password" id="node-input-gnsPassword"></input>
    </label>
  </div>

  <!-- Shared Secret -->
  <div class="form-row">
    <label for="node-input-bearerToken" style="display: block; width: inherit;">
      <div style="vertical-align: middle;" data-i18n="nigiri.label.bearerToken"></div>
      <input style="width: auto; vertical-align: top" placeholder="password" type="password" id="node-input-bearerToken"></input>
    </label>
  </div>

</script>
